{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
{% endblock %}
{% block content %}
  <div class="w-md flex flex-col bg-white p-10 rounded">
    <h1 class="mb-2 text-xl">{{ languages.get(1) }}</h1>
    <form method="POST">
      {{ form.csrf_token }}
      <div class="flex flex-col mb-2">
        {{ form.username.label(class="text-gray-700")  }}
        {{ form.username(class="p-2 w-full rounded", placeholder = languages.get(2)) }}
      </div>
      <div class="flex flex-col mb-2">
        {{ form.password.label(class="text-gray-700") }}
        {{ form.password(class="p-2 w-full rounded", placeholder=languages.get(3)) }}
      </div>
      {{ form.submit(class="bg-orange-500 {{var}} text-white p-2 w-full rounded")}}
    </form>
    <p>{{ languages.get(4) }} <a href="{{ url_for('auth.register') }}" class="text-orange-500">Cadastre-se</a></p>
    <p class="text-center text-red-500">{{ error }}</p>
  </div>
{% endblock %}