{% extends "layout.html" %}
{% block title %}Registros{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="bg-white p-10">
    <div class="flex flex-row justify-around items-center mb-6">
        <h1 class="text-3xl">{{ languages.get(12) }}</h1>
        <a href="{{ (request.path + '/..') }}" class="inline-block bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded">
            {{ languages.get(13) }}
        </a>
    </div>
    <div class="overflow-x-auto">
        <table class="min-w-full">
            <thead>
                <tr>
                    {% for header in headers %}
                        <th class="px-6 py-3 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr class="bg-white">
                        {% for data in log %}
                            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">{{ data }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}