


body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 5;
  }
  
  header {
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
  }

  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .welcome {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .welcome h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .welcome p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .feature {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .feature img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  
  .feature h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .footer {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  #p1 button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  